# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Mac data storage temp files
.DS_Store

# Large Files
data/raw_data/lfed000b21a_e
data/raw_data/OpenData-ElectionsCanada-asSubmitted.csv
data/raw_data/od_cntrbtn_audt_e.csv
data/raw_data/raw_data_IJF.csv
data/raw_data/raw_data_IJF_fix2026-06-17.csv
data/clean_data/clean_data_IJF.parquet
data/processed_data/donations_data.parquet
data/clean_data/clean_FED_shapefile.rds
data/processed_data/donations_data_appendix.parquet
data/raw_data/raw_PCFRF_2022.txt
data/raw_data/raw_PCCF_2024.tab
data/raw_data/raw_GAF_2021.csv
