# R and Mac Metadata Files
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.DS_Store

# Large, Required Datafiles (most are accessible on Zenodo; see README).
data/raw_data/lda000b21a_e
data/raw_data/lfed000b21a_e
data/raw_data/98-401-X2021.zip
data/raw_data/raw_PCCF_2024.tab
data/raw_data/raw_data_IJF.csv

data/processed_data/clean_data_IJF.parquet

data/analysis_data/census_lookup.parquet
data/analysis_data/DA_lookup.rds
data/analysis_data/donations_data_full.parquet
data/analysis_data/donations_data.parquet
data/analysis_data/FED_lookup.rds
data/analysis_data/PCCF_lookup.parquet

data/cached_data/distance_hyp_test_results.parquet
data/cached_data/localized_donations_data_distances.parquet
data/cached_data/localized_donations_data_neighbours.parquet
data/cached_data/province_shapes.rds


# Other Files (only kept locally, for personal reference)
other/*
