#title-slide h1.title {
    font-size: 2em;
  }


#title-slide .quarto-title-authors,
#title-slide p.author {
  margin-top: 2em;
}

.reveal ul ul {
  font-size: 0.7em;
}

.big-title {
  font-size: 2.5em;
}

.reveal h2 {
  font-size: 1.5em;
}

.reveal {
  font-size: 39px;
}